<div *ngIf="config$ | async as setting" class="config-panel">
  <h2 class="headline mb-4">
    <mat-icon class="mr-3" svgIcon="mat:settings"></mat-icon>
    <span>planifique</span>
  </h2>

  <div class="section">
    <h5 class="subheading">Support</h5>

    <div
      class="rounded-full mt-2 flex items-center cursor-pointer relative bg-black text-white select-none"
      matRipple
      (click)="openSendEmailModal('bug')">
      <div class="m-2 h-6 w-6 rounded-full">
        <mat-icon svgIcon="mat:check"></mat-icon>
      </div>
      <p class="ml-1 font-medium text-sm">Signaler un bug</p>
    </div>

    <div
      class="rounded-full mt-2 flex items-center cursor-pointer relative bg-black text-white select-none"
      matRipple
      (click)="openSendEmailModal('information')">
      <div class="m-2 h-6 w-6 rounded-full">
        <mat-icon svgIcon="mat:check"></mat-icon>
      </div>
      <p class="ml-1 font-medium text-sm">Demander une information</p>
    </div>

    <div
      class="rounded-full mt-2 flex items-center cursor-pointer relative bg-black text-white select-none"
      matRipple
      (click)="openSendEmailModal('fonctionnality')">
      <div class="m-2 h-6 w-6 rounded-full">
        <mat-icon svgIcon="mat:check"></mat-icon>
      </div>
      <p class="ml-1 font-medium text-sm">Proposer une fonctionnalité</p>
    </div>
  </div>

  <div class="section">
    <h5 class="subheading">L'application</h5>

    <div
      class="rounded-full mt-2 flex items-center cursor-pointer relative bg-black text-white select-none"
      matRipple>
      <div class="m-2 h-6 w-6 rounded-full">
        <mat-icon svgIcon="mat:check"></mat-icon>
      </div>
      <p class="ml-1 font-medium text-sm">Qui a créé planifique ?</p>
    </div>
  </div>
</div>
