@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";

.TRAVAIL {
  background-color: #a1fb8e !important;
}
.REPOS {
  background-color: white !important;
}
.CONGE {
  background-color: #3894ef !important;
}
.RTT {
  background-color: #051ef5 !important;
}
.ARRET_MALADIE {
  background-color: red !important;
}
.CONGE_SANS_SOLDE {
  background-color: purple !important;
}
.RECUP {
  background-color: orange !important;
}
.TELETRAVAIL {
  background-color: pink !important;
}
.ABSCENCE {
  background-color: #3994ef !important;
}
.ENFANT_MALADE {
  background-color: #24eeee !important;
}
.HORS_CONTRAT {
  background: repeating-linear-gradient(
    45deg,
    grey 0px,
    grey 10px,
    #ffffff 10px,
    #ffffff 20px
  );
}

.p-organizationchart table {
  all: unset !important; /* Réinitialise les styles hérités */
}
/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --vex-sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
html {
  // --vex-color-primary: blue;
  // --vex-color-primary-contrast: white;

  // --vex-color-accent: yellow;
  // --vex-color-accent-contrast: black;

  // --vex-color-warn: yellow;
  // --vex-color-warn-contrast: black;
}
